{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titleblock %}
  Result
{% endblock %}

{% block bodyblock %}
<div class="container">
    <div class="container m-3 p-3" style="text-align: center;">
        <h3>Your Transposition Text Encryption</h3>
        <div class="container m-3 p-3" style="text-align: center;">
            <h4>Cipher Text</h4>
            <p><pre>{{ detail.ciphertext }}</pre></p>
            <a class="btn btn-outline-success" href="{% url 'home' %}">Go Home</a>
        </div>
    </div>
</div>
{% endblock %}